<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Postovani!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<br>
{% block body %}

Postovani {{ user.firstName }} {{ user.lastName }} <br>
    Molimo vas da potvrdite vas dolazak klikom na link (u roku od 24h od trenutka prispeca ove poruke) <a href="{{ domain }}/examination/confirm?id={{ id }}">link</a>

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>