<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<br>
{% block body %}

Hello {{ user.firstName }} {{ user.lastName }} <br>
    Welcome to KLINIKA! <br>
    Please confirm your account via <a href="{{ domain }}/user/confirm?token={{ user.confirmationToken }}">link</a>

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>